/*
* General Stuff (AKA library)
*/


/*1189px width determined by removing all excess pixels on left and right side of ScreenShot1.png*/
body {
    width: 1920px;
    padding: 0px; 
    margin: 0px;
    background-color: #E7E6E8;
}
div, a, span { 
  font-family: 'Segoe UI', sans-serif;
}
a {
  text-decoration: none;
}
div.card-holder {
    text-align: center;
}
div.card {
    background-color: white;
    display: inline-block;
    margin: 1em;
    text-align: left;
}
.submit {
    background-color: #4F6EAF;
    border: 0px;
    border-bottom: 4px solid #314A7A;
}
.clear-button {
    background-color: #FFB300;
    border: 0px;
    border-bottom: 4px solid #FF8A00;
}
.button {
    padding: 12px;
    width: auto;
    display: inline-block;
    font-size: small;
    cursor: pointer;
    /*margin-right: 0.1em;*/
}
/*alignments*/
.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
/*font sizes*/
.xx-large {
    font-size: xx-large;
}
.x-large {
    font-size: x-large;
}
.large {
    font-size: large;
}
.small {
    font-size: small;
}

/*
* Search
*/
#weather-form{
    width: 610px;
    height: 465px;
}
div.header-bar {
    background-image: url("/web/images/banner.jpg");
    padding: 2em;
    padding-bottom: 1em;
    height: 128px;
}
#search-form {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
}
#street {
    width: 100%;
}
td.width-auto-2 {
    width: 50%;
}
div.auto-detect {
    margin-bottom: 1em;
}

    
div.title {
    font-size: large;
    margin-bottom: 1em;
    font-weight: bold;
}
label {
    color: RoyalBlue;
    font-size: 90%;
    font-weight: bold;
}
.required {
    color: red;
}


/*
* Current Weather
*/
tr#current-details-icons img {
    width: 20px;
}
img#weather-code-icon{
    width: 132px;
}
#current-summary {
    width: 100%;
}
#current-temp{
    font-size: 80px;
    text-align: center;
    font-weight: 200;
    color: gray;
}
tr#current-big-picture-row {
    height = 50px;
}
#current-weather table, tr, th, td {
  border: 0px;
}
#current-weather th, td {
  padding: 5px;
}
#current-weather-card {
    width: 847px;
    height: 472px;
}
.current-weather-stat-type-icon {
    /*TODO how to grow?*/
}

/*
* Forecast
*/

#x-day-forecast-card {
    width: 1319px;
}	
#x-day-forecast {
    color: darkgray;
    border-spacing: 0;
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 100%;
}

/*TODO make the text for status line up vertically in center*/
#x-day-forecast th {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

#x-day-forecast th, td{
    border-bottom: 5px solid lightgray;
}
img.forecast-weather-status-icon {
    width: 40px;
    
}
.forecast-table-header{
    background-color: #5A68AC;
}

/*
* Daily Weather
*/
#daily-weather-details-card{
    width: 600px;
    height: 492px;
}
#daily-day{
    font-size: 25px;
}
#daily-weather-code-text {
    font-size: 25px;
}
#daily-hi-low-temp {
    font-size: 35px;
}
#daily-weather-code-icon {
    width: 100px;
}

/*
* Charts
*/
.arrow-button{
    width: 40px;
}

#days-chart {
    width:1000px; 
    height:400px;
}
#hours-chart {
    width:1000px; 
    height:400px;
}