/*
* General Stuff (AKA library)
*/


/*1189px width determined by removing all excess pixels on left and right side of ScreenShot1.png*/
body {
    padding: 0px; 
    margin: 0px;
    background-color: #E7E6E8;
}
div, a, span { 
  font-family: 'Segoe UI', sans-serif;
}
a {
  text-decoration: none;
}
div.card-holder {
    text-align: center;
}
div.card {
    background-color: white;
    display: inline-block;
    margin-top: 50px;
    text-align: left;
}
.submit {
    background-color: #4F6EAF;
    border: 0px;
    border-bottom: 4px solid #314A7A;
}
.clear-button {
    background-color: #FFB300;
    border: 0px;
    border-bottom: 4px solid #FF8A00;
}
.button {
    width: 80px;
    padding: 12px;
    display: inline-block;
    font-size: small;
    cursor: pointer;
}
.button:hover {
    opacity: 0.9;
}
/*alignments*/
.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
/*font sizes*/
.xx-large {
    font-size: xx-large;
}
.x-large {
    font-size: x-large;
}
.large {
    font-size: large;
}
.small {
    font-size: small;
}

/*
* Search
*/
#weather-form{
}
.required {
    color: red;
}
div.header-bar {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}